* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.header .highlight {
    color: #584756;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

.box {
    flex-direction: row;
    width: 800px;
    height: 500px;
    background-color: #f5f5ff;
    margin: 0 auto;
    position: relative;
}

.box-left {
    flex-grow: 3;
    height: 100%;
    background-color: #eee;
    flex-direction: column;
    padding-bottom: 10px;
}

.box-right {
    flex-grow: 7;
    flex-direction: column;
}

.box-right .content-box {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 8px 15px;
    color: #cfd7cf;
}

.input-box textarea {
    flex-grow: 1;
    height: 120px;
    font-size: 16px;
    outline: none;
    padding: 4px 8px;
}

/* 消息 */
.msg {
    flex-direction: column;
    animation: msg-fade-in 0.3s linear;
}

.msg.right {
    align-items: flex-end;
}

.msg .name {
    color: #095f8a;
    font-size: 14px;
}

.msg .content {
    color: #0a628f;
    font-size: 14px;
    padding: 4px 15px;
}

.send-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 15px;
    font-size: 15px;
    background-color: #0a628f;
    color: #e1e1e1;
    outline: none;
}

.user-card {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #5f1be1;
    position: relative;
}

.user-card span.unread {
    position: absolute;
    right: 9px;
    top: 6px;
    height: initial;
    line-height: initial;
    font-size: 11px;
    border-radius: 100%;
    color: #e1e1e1;
    background: #e13855;
    padding: 1px 4px;
}

.user-card.active {
    background-color: #f5f5ff;
}

@keyframes msg-fade-in {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }
    to {
        opacity: 100%;
        transform: translate(0, 0);
    }
}